# Application
web/wp-content/plugins/*
!web/wp-content/plugins/.gitkeep
web/wp-content/mu-plugins/*/
web/wp-content/upgrade
web/wp-content/uploads/*
!web/wp-content/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
